

.my-tabs {
    position: relative;   
    clear: both;
    margin: 0;
    /* padding-top: 15px; */
    height: 42px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow:none;
    /* overflow-x: auto; */

    scroll-behavior: smooth;

}
.my-tabs:hover{
    overflow-x: auto;
  
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tab {
    display: inline-block;
    vertical-align: middle;
}

.tab label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px;
    cursor:pointer;
    position: relative;
    left: 1px;
 
}

.tab [type=radio] {
    display: none;
}

.tab .content {
    position: fixed;
    white-space: normal;
    top: 70px;
    left: 0;
    background: white;
    height:100px;
    right: 0;
    bottom: 0;
    padding: 10px;
    width: 266px;
    border: 1px solid #ccc;
 }

.tab [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

.tab [type=radio]:checked ~ label ~ .content {
    z-index: 1;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 2px;
    height:2px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(112, 112, 112, 0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(41, 34, 34, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}
.flex-container {
  display: flex;
  flex-direction: row;
}
.close-ic{
font-size: 12px;
margin-left:8px;
}

div .nav-ic{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  /* border:1px solid silver; */
  padding:15px 10px;
}
.nav-ic{
font-size: 12px;
/* margin-top:18px; */
/* width:40px; */
cursor: pointer;
z-index: 20;
text-align:center;

}
.menu{
  border:1px solid silver;
  position: absolute;
  text-align:left;
  margin:0!important;
  width:120px;
  padding:0px;
  z-index:99;
  background: white;
}
.menu li:hover{
  background: #eeeeee;
  cursor: pointer;  
}
.menu>li{
  list-style: none;
  padding:10px;
  
}
